*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   background-image:url(we.jpg) ;
    display: grid;
    place-items: center;
    height: 100vh;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 350px;
    width: 300px;
    background-color: #ffffff21;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: var(--mb-4);
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 30px;
}

p{
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
}

label{
    font-size: 20px;
    font-weight: bold;
}

input{
    padding: 5px;
    border: none;
    border-bottom: 1px solid rgb(137, 137, 137);
    margin-top: 10px;
    outline: none;
}

.login-btn{
    border: none;
    background-color: green;
    color: #fff;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 30px;
}

.logout-btn{
    border: none;
    background-color: rgb(255, 71, 71);
    color: #fff;
    height: 50px;
    width: 100px;
    font-size: 20px;
    border-radius: 5px;
    margin-top: 30px;
    cursor: pointer;
}
.info.a{
    display: flex;
    align-items: center;
    font-size: 2rem;
    color:#eee;
    padding:1rem 0;
    font-weight: normal;
  
    padding-right: 1rem;
    color:var(--yellow);
  }
  
:root{
    --header-height: 3rem;
    --font-semi: 600;
  }
  :root{
    --first-color: #000000;
  }
  
  .button{
    display: inline-block;
    background-color: var(--first-color);
    color: #fff;
    padding: .75rem 2.5rem;
    font-weight: var(--font-semi);
    border-radius: .5rem;
  }